<VirtualHost *:{{ item.port | default('80') }}>
        ServerName apache02.projet.intranet
        DocumentRoot {{ item.direct_name | default('/var/www/site_php') }}
        <Directory {{ item.direct_name | default('/war/www/site_php') }}>
                Require all granted
                DirectoryIndex index.php
        </Directory>
        CustomLog {{ item.log_folder | default('${APACHE_LOG_DIR}') }}/access.log {{ item.log_type | default('combined') }}
</VirtualHost>

